# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Source.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hiroshi\Documents\001_Work\Rst\denso-service\Source\.idea\.idea.Source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
